In [11]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv("C:\\Users\\Nivetha.N\\Downloads\\datasets\\titanic\\Heart patient's data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AVGHEARTBEATSPERMIN  10800 non-null  int64
 1   PALPITATIONSPERDAY   10800 non-null  int64
 2   CHOLESTEROL          10800 non-null  int64
 3   BMI                  10800 non-null  int64
 4   HEART_DISEASE        10800 non-null  object
 5   AGE                  10800 non-null  int64
 6   SEX                  10800 non-null  object
 7   FAMILYHISTORY        10800 non-null  object
 8   SMOKERLAST5YRS       10800 non-null  object
 9   EXERCISEMINPERWEEK   10800 non-null  int64
dtypes: int64(6), object(4)
memory usage: 843.9+ KB

In [22]:
data.isnull().any()

AVGHEARTBEATSPERMIN    False
PALPITATIONSPERDAY     False
CHOLESTEROL            False
BMI                    False
HEART_DISEASE          False
AGE                    False
SEX                    False
FAMILYHISTORY          False
SMOKERLAST5YRS         False
EXERCISEMINPERWEEK     False
dtype: bool

In [13]:
missing_values = data.isnull().sum()
print(missing_values)

AVGHEARTBEATSPERMIN    0
PALPITATIONSPERDAY     0
CHOLESTEROL            0
BMI                    0
HEART_DISEASE          0
AGE                    0
SEX                    0
FAMILYHISTORY          0
SMOKERLAST5YRS         0
EXERCISEMINPERWEEK     0
dtype: int64

In [14]:
data = data.dropna()
data.fillna(data.mean(), inplace=True)

In [15]:
from scipy.stats import zscore
z_scores = np.abs(zscore(data.select_dtypes(include=np.number)))
outlier_threshold = 3
data = data[(z_scores < outlier_threshold).all(axis=1)]

In [20]:
data.to_csv("Heart patient's data.csv", index=False)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   AVGHEARTBEATSPERMIN  10800 non-null  int64
 1   PALPITATIONSPERDAY   10800 non-null  int64
 2   CHOLESTEROL          10800 non-null  int64
 3   BMI                  10800 non-null  int64
 4   HEART_DISEASE        10800 non-null  object
 5   AGE                  10800 non-null  int64
 6   SEX                  10800 non-null  object
 7   FAMILYHISTORY        10800 non-null  object
 8   SMOKERLAST5YRS       10800 non-null  object
 9   EXERCISEMINPERWEEK   10800 non-null  int64
dtypes: int64(6), object(4)
memory usage: 843.9+ KB

In [24]:
data

,AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,HEART_DISEASE,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK
0,93,22,163,25,N,49,F,N,N,110
1,108,22,181,24,N,32,F,N,N,192
2,86,0,239,20,N,60,F,N,N,121
3,80,36,164,31,Y,45,F,Y,N,141
4,66,36,185,23,N,39,F,N,N,63
...,...,...,...,...,...,...,...,...,...,...
10795,122,27,203,30,N,31,F,N,N,246
10796,67,15,186,25,N,54,F,N,N,189
10797,103,6,211,20,N,40,F,N,N,205
10798,99,30,152,27,N,32,M,N,N,211
10799,50,31,232,26,N,40,F,N,N,54